#chat {
    border: 2px solid black;
    height: 500px;
}

.timestamp {
    color: sandybrown;
}

.hidden {
    /*display: none;*/
    display: inline;
}


.unregistered {
    color: black;
}

.registered {
    color: green;
}

.admin {
    color: red;
}

.server {
    text-decoration: underline;
    color: blue;
}