.blue {
    background-color: blue;
    color: white;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
    color: white;
}

.border {
    border: 2px solid black;
}

.dashed {
    border: 2px dashed black;
}
