body
{
}

.cell {
    width: 50px;
    height: 50px;
    background-color: grey;
    border: 2px black solid;
    color: grey;
    text-align: center;
    font-size: 150%;
}



.notFlag {

}

.isFlag {

}

.isBomb.isOpen{
    background-image: url(img/bomb.png);
    background-size: contain;
}

.isOpen{
    background-color: white;
}

