.wrapper {
    display: grid;
}

.accordion {

}

.cell {
    border: 2px solid black;
}

.cell:hover {
    border: 2px solid red;
}

.index {
    border: 2px solid green;
    text-align: center;
    height: 46px;
    width: 46px;
}

#sidebar {
    grid-area: sidebar;
}

#mainPage {
   grid-template-areas: "sidebar header header" "playfield playfield dataPanel" "infoPanel infoPanel infoPanel" "footer footer footer"
}

#header {
    grid-area: header;
    height: 10vh;
    text-align: center;
    font-size: 400%;
    font-family: Impact;
}

#playfield {
    grid-area: playfield;
    grid-template-rows: repeat(11, 50px);
    grid-template-columns: repeat(11, 50px);
    width: 550px;
}

#dataPanel {
    grid-area: dataPanel;
    border: 1px dashed black;
}

#infoPanel {
    grid-area: infoPanel;
    border: 1px dashed black;
    min-height: 100px;
}

#footer {
    grid-area: footer;
    border: 1px dashed black;
    min-height: 80px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }