body
{
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: #fff;
    width: 500px;
    height: 500px;
    color: #444;
    
}
.grid-item {
    background-color: #400;
    font-size: 150%;
    font-weight: bold;
    align-content: space-around;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid grey;
    border-radius: 1%;
    background-color: lightblue;
    text-align: center;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    border-left: 2px solid red;
    margin-left: 10px;
    padding-left: 20px;
    width: 200px;
    position: relative;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.SidebarIndex {
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
}

.sidebarHeader {
    font-family: Calibri;
    text-decoration: underline;
    font-size: 200%;
}

a {
    text-decoration: none;
}

a.sitenav {
    text-decoration: none;
    color: blue;
    padding: 5px;
    border-left: 2px solid red;
}

a:hover {
    border-left: 2px solid green;
    padding: 5px;
    color: red;
    font-weight: bold;
    font-size: 120%;
}

