.alive {
    background-color: black;
}

.dead {
    background-color : white;
}

.cell {
    width: 9px;
    height: 9px;
    border: 1px solid grey;
    border-collapse: collapse;
}

.board {
    display: grid;
    grid-area: board;
    grid-template-columns: repeat(100, 9px);
    grid-template-rows: repeat(100, 9px);
}

.wrapper {
    display: grid;
    grid-template-areas: "board text"
}

.text {
    grid-area: text;
    margin: 20px;
}